<% provide(:title, 'Edit Goal') %>

<body>
  <div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
      <div class="logo">
        <%= link_to image_tag("meal_types.png", size: "200x50"), root_path %>
      </div>
      <div class="header-error blue bottom-spacer">
        <%= render "layouts/errors_heading" %>
      </div>
      <div class="login-box center-block">
        <div class="form-horizontal">
          <%= render "goals/goal_form" %>
  			</div>
			</div>
		</div>
	</div>
</body>







