<% provide(:title, 'Activity') %>

<head>
	<div class= "center">
		<h1>
			Sedentary
		</h1>
		<br>
			<p class= "h5 column">
				Little to no regular exercise.
				<br>
				(bmr * 1.2)
				<br>
				<br>
			</p>

		<h1>
			Mild
		</h1>
		<br>
			<p class= "h5 column">
				Intensive exercise for at least 20 minutes 1 to 3 times per week. This may include such things as bicycling, jogging, basketball, swimming, skating, etc.  If you do not exercise regularly, but you maintain a busy life style that requires you to walk frequently for long periods, you meet the requirements of this level.
				<br>
				(bmr * 1.375)
			</p>
		<br>
		<br>
		<h1>
			Moderate
		</h1>
		<br>
			<p class= "h5 column">
				Intensive exercise for at least 30 to 60 minutes 3 to 4 times per week. Any of the activities listed above will qualify.  
				<br>
				(bmr * 1.5)
			</p>
		<br>
		<br>
		<h1>
			Heavy
		</h1>
		<br>
			<p class= "h5 column">
				Intensive exercise for 60 minutes or greater 5 to 7 days per week (see sample activities above).  Labor-intensive occupations also qualify for this level.  Labor-intensive occupations include construction work (brick laying, carpentry, general labor, etc.). Also farming, landscape worker or similar occupations. 
				<br>
				(bmr * 1.7)
			</p>
		<br>
		<h1>
			Extreme
		</h1>
		<br>
			<p class= "h5 column">
				Exceedingly active and/or very demanding activities:  Examples include:  (1) athlete with an almost unstoppable training schedule with multiple training sessions throughout the day  (2) very demanding job, such as shoveling coal or working long hours on an assembly line. Generally, this level of activity is very difficult to achieve.
				<br>
				(bmr * 1.9)
			</p>
		<br>
	</div>
</head>



